body {
  /* background-color: lightgray; */
  background-color: black;
}

 #markerContainer {
   margin-top: 250px;
   margin-left: 50px;
   display: flex;
 }

#rightSide {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  /* border: 1px solid white; */
  text-align: center;
  font-size: .9em;
}

#markerContent {
  display: flex;
  flex-direction: column;
  width: 310px;
  gap: 15px;
  background-color:rgb(148, 218, 218);
  padding: 20px;
  border: 1px solid rgb(133, 133, 229);
  border-radius: 5px;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}

#red:active, #blue:active, #green:active, #printLetters:active, #deleteLetters:active {
  border-color: aliceblue;
}

#markerContent>div>button, #deleteLetters, #printLetters {
  color: aliceblue;
  width: 100px;
  padding: 3px;
  border-radius: 5px;
  border-color:white;
  cursor: pointer;
  border: 1px solid #000;
}
#markerContent>h3 {
  text-align: center;
  text-shadow: 1px -1px white;
  color: red;
}
#markerText {
  height: 50px;
  font-family: monospace;
}

#printLetters, #deleteLetters {
  width: 120px !important;
  background-color: black;
}

#showText {
  background-color: aliceblue;
  border: 1px solid #000;
  border-radius: 3px;
  height: 20px;
  font-family: monospace;
}


#pencil {
  padding-left:10px;
  margin-top: 135px;
}

.pencilRed {
  filter: drop-shadow(1000px 1px red);
}
.pencilGreen {
  filter: drop-shadow(1000px 1px green);
}
.pencilBlue {
  filter: drop-shadow(1000px 1px blue);
}
#line1 {
  position: relative;
  height: 30px;
  width: 240px;
  border: 1px solid red;
  background: linear-gradient(145deg, rgb(108, 108, 109, .1), rgb(232, 228, 228, .5));
}
#line1>div {
  background-color: rgb(80, 238, 80);
  background: linear-gradient(145deg,blue, red);
  /* border: 1px solid wheat; */
  height: 28px;
  position: absolute;
  /* width: 0px; */
}


/* 
#DZ1 {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}
h3 {
  
  width: 100%;
  color:darkblue
}
.input {
 
  font-size: 1em;
}
#print {
 
  width: 100%;
  height: 200px;
  border: 3px solid black;
}

#print p {
  margin: 0px;
  padding: 5px;
}
#print span {
  font-size: 20px;
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

span {
  font-size: 25px;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

input[type="radio"] {

    appearance: none; 
    height: 42px;
    width: 42px;
    padding: 2px;
    border-radius: 50%;
}
input[type="radio"]:checked {
    background-color: black;
    background-clip: content-box;
}

#red input[type="radio"] {
  border: 10px solid red;
  color: red;
}

#green input[type="radio"] {
  border: 10px solid green;
  color: green;
  margin-left: 9px;
}

#blue input[type="radio"] {
  border: 10px solid blue;
  color: blue;
  margin-left: 30px;
}
#red span {
  color: red;
}
#green span {
  color: green;
}
#blue span {
  color: blue;
}
.red, .green, .blue {
  display: inline-block;
  width: 302px;
  height: 30px;
  margin-left: 100px;
}

#red, #green, #blue {
  display: inline;
  margin-bottom: 20px;
}
.red {
  border: 7px solid red;
}
.green {
  border: 7px solid green;
}
.blue {
  border: 7px solid blue;
}
.red div {
  
  height: 28px;
  margin: 1px;
  background-color: red;
}
.green div {
 
  height: 28px;
  margin: 1px;
  background-color: green;
}
.blue div {
  
  height: 28px;
  margin: 1px;
  background-color: blue;
}
.table {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;

}
.dotted_underline {
  text-decoration: none; 
  border-bottom: 1px dashed #000080;
}
 */











#block {
  background-color: orange;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: baseline;
  gap: 5px;
  width: 25%;
  margin-top: 23%;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  
}

#block>button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

/* все стили заменены в js */
#checkStyle {
  border: 1px solid #000;
  background-color: orange;
  color: red;
  width: 28%;
}
 

.btn {
  background-color: rgb(161, 161, 7);
  border-color: aliceblue;
  color: aliceblue;
  border-radius: 5px;
  padding: 3px;
  width: 100px;

}

.btn_trick {
color: red;
}


.blockChangeColor {
  background-color: aqua ;
}
 
#press, .press2 {
  margin-top: 20px;
  color: aliceblue;
  border-radius: 5px ;
  border-color: aliceblue;
  padding: 5px;
  background-color: rgb(243, 66, 66);
  width: 100px;
}

@media screen and (max-width:680px) {
  #markerContainer {
    /* display: flex; */
    flex-direction: column;
  }
  #markerContent>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #markerContent>div>button {
    width: 130px;
  }
  #pencil {
    margin-top: 200px;
  }
  #rightSide {
    width: 343px;
    margin-left: 0px;
    border: none;
  }
  
 #markerContainer {
  margin-top: 0px;
  margin-left: 0px;
}
#bts {
  display: flex;
  flex-direction: row !important;
}
}