body {
  /* background-color: lightgray; */
  background-color: black;
}

 

#markerContent {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  margin-left: 50px;
  width: 310px;
  gap: 15px;
  background-color:rgb(148, 218, 218);
  padding: 20px;
  border: 1px solid rgb(133, 133, 229);
  border-radius: 5px;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#markerContent>div>button, #deleteLetters {
  color: aliceblue;
  width: 100px;
  padding: 3px;
  border-radius: 5px;
  border-color:white;
  cursor: pointer;
}
#markerContent>h3 {
  text-align: center;
  text-shadow: 1px -1px white;
  color: red;
}
#markerText {
  height: 50px;
}
#deleteLetters {
  width: 120px;
  background-color: black;
}




#block {
  background-color: orange;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: baseline;
  gap: 5px;
  width: 25%;
  margin-top: 23%;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  
}

#block>button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

/* все стили заменены в js */
#checkStyle {
  border: 1px solid #000;
  background-color: orange;
  color: red;
  width: 28%;
}
 

.btn {
  background-color: rgb(161, 161, 7);
  border-color: aliceblue;
  color: aliceblue;
  border-radius: 5px;
  padding: 3px;
  width: 100px;

}

.btn_trick {
color: red;
}


.blockChangeColor {
  background-color: aqua ;
}
 
#press, .press2 {
  margin-top: 20px;
  color: aliceblue;
  background-color: rgb(243, 66, 66);
  border-radius: 5px ;
  padding: 5px;
  width: 100px;
  border-color: aliceblue;
}